@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: rgb(243 244 246);
}

:root {
  width: 100%;
  height: 100%;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-toast-container {
  margin-top: 4rem;
}
