- content_for :title do
= t('devise.mailer.reset_password_instructions.subject')

p = t('devise.mailer.reset_password_instructions.greeting', email: @resource.email)
p = t('devise.mailer.reset_password_instructions.message')

p
= link_to t('devise.mailer.reset_password_instructions.cta'), "#{ENV['FRONTEND_URL']}/reset_password?reset_password_token=#{@token}"

p = t('devise.mailer.reset_password_instructions.ignore')
p = t('devise.mailer.reset_password_instructions.note')
